/*Стили для GET/POST - Запросов*/
/*-------для всех все сбрасываем-----------*/
body, h1, h2, h3, h4, p, a {
    margin: 0;
    padding: 0;
    font-size: 100%; 
    font-weight: normal;
}
/*--*/
*{
    box-sizing: border-box;
}
/*-----------------------------------------*/
.header{
    display: flex;
    border: 1px solid silver;
    width: 100%;
}
/**/
.div-input{
    padding: 5px;
    
}
.input{

}
.text-input{
    margin-bottom: 5px;
    font-size: 15px;
}
/*--*/
.div-button{
    padding: 5px;
    
}
.btn{
    margin-top: 23px;
}
/*--*/
.content{
    display: flex;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid silver;
}
