/*Стили для GET/POST - Запросов*/
/*-------для всех все сбрасываем-----------*/
body, button, h1, h2, h3, h4, p, a {
    margin: 0;
    padding: 0;
    font-size: 100%; 
    font-weight: normal;
}
/*--*/
*{
    box-sizing: border-box;
}
/*-----------------------------------------*/
.header{
    display: flex;
    border: 1px solid silver;
    width: 100%;
}
/*--*/
.div-input1{
    padding: 10px;
}
.text-input1{
    bottom: 36px;
}
/*--*/
.div-input2{
    padding: 10px;
}
.text-input2{
    bottom: 36px;
}
.input{
    display:inline;
    width: 150px;
    height: 30px;
}
/*--*/
.div-button{
    display: flex;
    width: 100%;
    padding-top: 30px;
}
.btn{
    width: 8%;
    height: 30px;
    margin-right: 10px;
}
/*--*/
.content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    margin-top: 10px;
    border: 1px solid silver;
}
/*--*/
.dataPromise{
    border: 1px solid silver;
    flex: 1 1 25%;
    padding: 10px;
}
.text-id{

}
.text-title{

}
.text-body{

}