/*Django + Ajax*/
/*-------для всех все сбрасываем-----------*/
body, h1, h2, h3, h4, p, a {
    margin: 0;
    padding: 0;
    font-size: 100%; 
    font-weight: normal;
}
/*--*/
*{
    box-sizing: border-box;
}
/*Django + Ajax стили*/
.main{
    width: 100%;
}
/* Заголовок */
.header{
    display: flex;
    border: 0.5px solid silver;
    padding: 10px;
}
.divInput{
    padding-bottom: 5px;
}
.text{
    bottom: 36px;
}
.input{
    width: 300px;
    height: 30px;
    box-shadow: 4px 4px 5px rgba(160, 155, 155, 0.4);
    margin-top: 5px;
}
.divButton{
    margin-left: 10px;
}
.btn{
    width: 100px;
    height: 30px;
    box-shadow: 4px 4px 5px rgba(160, 155, 155, 0.4);
    margin-top: 5px;
}

/* Контент */
.content{
    padding: 5px;
    overflow-y: none; /*скролл по y*/
    scroll-behavior: smooth; /*плавная прокрутка*/
}
.post{
    border: 0.5px solid silver;
    border-radius: 3px;
    padding: 2px;
    margin-bottom: 3px;
}
.post:hover{
    background-color: antiquewhite;
}

.textContent{
    line-height: 1.5;
    bottom: 36px;
}
.next-content{
    width: 15%;
    margin-left: 25%;
}
.next-content:hover{
    box-shadow: 0px 0px 4px 4px rgba(160, 155, 155, 0.4);
}
/*----------------*/