/*Стили для Nav*/
.nav{
    grid-area: n;
    background-color: coral;
  }
/*Ссылки*/
.links{
  color: white;
}
.linkSettings{
  margin-top: 20px;
}
.links:hover{ 
  color: black;
}
/*friends*/
.h1{
  color: rgb(5, 37, 126);
}
.friends{
  margin-top: 50px;
}
.friendsName{
  margin-top: 10px;
}
